[Unit]
Description=CSYE6225 Node.js Application
After=network.target postgresql.service

[Service]
User=csye6225
Group=csye6225
WorkingDirectory=/opt/myapp
ExecStart=/usr/bin/node /opt/myapp/app.js
Restart=always

[Install]
WantedBy=multi-user.target
